.file-explorer {
  width: 430px;
  height: 310px;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.85rem;
  background: #fdfdfd;
  overflow: hidden;
}

.explorer-title-bar {
  background: linear-gradient(to right, #d6eaff, #bcdcff);
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.explorer-buttons button {
  margin-left: 6px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}

.close-btn {
  color: red;
}

.explorer-toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 5px;
  background-color: #e9f1f7;
  border-bottom: 1px solid #ccc;
}

.explorer-toolbar button {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.explorer-search {
  margin-left: auto;
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 0.85rem;
}

.explorer-body {
  display: flex;
  height: 280px;
  gap:1px
}

.explorer-sidebar {
  width: 120px;
  background-color: #f5f8fc;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding-bottom: 8%;
  padding-right: 3%;
  padding-left: 2%;
  padding-top: 2%;
}

.section {
  margin-bottom: 12px;
  font-weight: bold;
}

.section ul {
  padding-left: 10px;
  list-style: none;
}

.section li {
  font-weight: normal;
  margin: 4px 0;
}

.explorer-content {
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 15%;
  overflow-y: auto;
}

.file-icon {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.project-logo {
  width: 50px;
  height: 55px;
  object-fit: contain;
}

.github-projects {
  margin: 2%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.github-projects:hover {
  transform: translateY(-6px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.github-icon-projects {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 10px;
}

.github-icon-projects i {
  font-size: 2rem;
}


.folder {
  width: 150px;
}

.folder:hover {
  transform: translateY(-6px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projects {
  display: flex;
  flex-direction: row;
}
